{% extends "base.html" %}
{% block content %}

<div class="grid-container large-8 medium-8 small-12">
    <div class="grid-x align-center-middle">
        <div class="cell large-2 medium-2"></div>
        <div style="padding-bottom: 3vh;" class="text-center cell large-8 medium-8 small-12">
            <h2>{{ household.name }} Homepage</h2>
        </div>
        <div class="cell large-2 medium-2">
        </div>
    </div>

    <div class="grid-x align-center">
        <div class="cell large-5 medium-5 small-5">
            <a class="button expanded invite_button" href="invite">
                <h6 style="vertical-align: middle;">Invite</h6>
            </a>
        </div>
        <div class="cell large-2 medium-2 small-2"></div>
        <div class="cell large-5 medium-5 small-5">
            <a class="button expanded chat_button" href="/chat/{{ household.id }}/">
                <h6 style="vertical-align: middle;">Chat</h6>
            </a>
        </div>
    </div>

    <div class="grid-x align-center" style="margin-bottom: 2vh;">
        <div class="cell large-12 medium-12 small-12 text-center"
            style="padding-bottom: 1vh; margin-bottom: 2vh; border-bottom-style: solid; border-bottom-width: thin; border-bottom-color: #cecece">
            <h4>Members</h4>
        </div>
        {% for member in household.members.all %}
        <div class="text-center cell large-3 medium-4 small-6">
            <h6>{{ member.username }}</h6>
        </div>
        {% endfor %}
    </div>

    <div class="grid-x" style="padding-bottom: 2vh; margin-bottom: 2vh;">
        <div class="cell large-12 medium-12 small-12 text-center"
            style="padding-bottom: 1vh; margin-bottom: 2vh; border-bottom-style: solid; border-bottom-width: thin; border-bottom-color: #cecece">
            <h4>Lists</h4>
        </div>
            <div class="cell large-4 medium-4 small-4"></div>
            <div class="cell large-4 medium-4 small-4">
                <a class="button expanded list_button" href="list/">Create New List</a>
            </div>
            <div class="cell large-4 medium-4 small-4"></div>

        <div class="cell large-12 medium-12 small-12"></div>

        <div class="cell large-5 medium-5 small-12">
            <h5 style="border-bottom-style: solid; border-bottom-width: thin; border-bottom-color: #cecece;">Shopping</h5>
            <ul>
                {% for list in shop_lists %}
                <li style="list-style-type: none;">
                    <a href="list/{{ list.id}}">{{ list.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="cell large-2 medium-2"></div>
        <div class="cell large-5 medium-5 small-12">
            <h5 style="border-bottom-style: solid; border-bottom-width: thin; border-bottom-color: #cecece;">Grocery</h5>
            <ul>
                {% for list in groc_lists %}
                <li style="list-style-type: none;">
                    <a href="list/{{ list.id}}">{{ list.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="cell large-5 medium-5 small-12">
            <h5 style="border-bottom-style: solid; border-bottom-width: thin; border-bottom-color: #cecece;">Chore</h5>
            <ul>
                {% for list in chore_lists %}
                <li style="list-style-type: none;">
                    <a href="list/{{ list.id}}">{{ list.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="cell large-2 medium-2"></div>
        <div class="cell large-5 medium-5 small-12">
            <h5 style="border-bottom-style: solid; border-bottom-width: thin; border-bottom-color: #cecece;">Miscellaneous</h5>
            <ul>
                {% for list in misc_lists %}
                <li style="list-style-type: none;">
                    <a href="list/{{ list.id}}">{{ list.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

{% endblock %}