{% extends "base.html" %}
{% block content %}
<!-- Profile head -->
<div class="grid-x grid-margin-x header">
    <div class="cell large-6 medium-6 small-6 text-right" style="align-items:center;">
        <h1 class="text-right">{{ user }}</h1>
    </div>
    <div class="cell large-6 medium-6 small-6" style="display:flex;align-items:center;">
        <h4 class="text-left light-opacity">- {{ user.first_name }} {{ user.last_name }}</h4>
    </div>
</div>


<div class="grid-x">
    <div class="cell large-6 medium-6 small-6" style="border-right-style: solid; border-right-width: thin; border-right-color: #cecece">
        <h5 class="text-center">Change Profile</h5>

        <ul style="margin: 0 auto; display: table; text-align: left;">
            <li style="list-style-type: none;"><a href="/password_change/">Change Password</a></li>
            <li style="list-style-type: none;"><a href="/update_profile/">Update Profile</a></li>
        </ul>
    </div>
    <div class="cell large-6 medium-6 small-6">
        {% for household in households %}
        <div class="grid-x align-center">
            <div class="cell medium-8">
                <div class="blog-post">
                    <h3>{{ household.name }}</h3>
                </div>
                <a href="/leave_household/{{ household.id }}?next={{ request.path|urlencode}}">Leave Household</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- ?next={{ request.path|urlencode }} -->
<!-- Buffer -->
<div class="grid-y" style="height: 5vh;"></div>

<div class="grid-x align-center">
    {% for invite in invites %}
    <div class="cell large-4 medium-4 small-12" style="padding: 2vw;">
        <div class="card">
            <div class="card-section">
                <h4>Invite to join {{ invite.household }}</h4>
                <p>From {{ invite.inviter }}:</p>
                <p>{{ invite.message }}</p>
                <a href="/accept/{{ invite.household.id }}">Accept</a>
                <a href="/decline/{{ invite.id }}">Decline</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}