{% extends "base.html" %}
{% block content %}
<!-- Profile head -->
<div class="grid-x grid-margin-x header">
    <div class="cell large-6 medium-6 small-6 text-right" style="align-items:center;">
        <h1 class="text-right">{{ user }}</h1>
    </div>
    <div class="cell large-6 medium-6 small-6" style="display:flex;align-items:center;">
        <h4 class="text-left light-opacity">- {{ user.first_name }} {{ user.last_name }}</h4>
    </div>
</div>


<!-- Editing Profile and Household Display -->
<div class="grid-x" style="padding-bottom: 5vh; border-bottom-style: solid; border-bottom-width: thin; border-bottom-color: #cecece">
    <div class="cell large-6 medium-6 small-6"
        style="border-right-style: solid; border-right-width: thin; border-right-color: #cecece">
        <h4 class="text-center">Edit Profile</h4>

        <ul style="margin: 0 auto; display: table; text-align: left;">
            <li style="list-style-type: none;"><a href="/password_change/">Change Password</a></li>
            <li style="list-style-type: none;"><a href="/update_profile/">Update Profile</a></li>
        </ul>
    </div>
    <div class="cell large-6 medium-6 small-6">
        <h4 class="text-center">Your Households</h4>
        <ul style="margin: 0 auto; display: table;">
            {% for household in households %}
            <li style="list-style-type: none;">
                <div class="grid-x">
                    <div class="cell large-10 medium-10 small-10">
                        <a style="text-align: left;" href="/household/{{ household.id }}/">{{ household.name }}</a>
                    </div>
                    <div class="cell large-2 medium-2 small-2">
                        <a style="text-align: right; color:#ff3333;"
                            href="/leave_household/{{ household.id }}">&nbsp;&nbsp;&nbsp;✕</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% if invites %}
<div class="grid-x align-center">
    <div class="cell large-12 medium-12 small-12" style="margin-bottom: 3vh; margin-top: 3vh;">
        <h4 class="text-center">Pending Household Invitations</h4>
    </div>
    {% for invite in invites %}
    <div class="cell large-2 medium-2"></div>
    <div class="card invite_card cell large-8 medium-8 small-12">
        <div class="card-section">
            <h5>Invite to join {{ invite.household }}</h5>
            <p>From {{ invite.inviter }}:</p>
            <p>{{ invite.message }}</p>
            <div class="grid-x">
                <div class="cell large-6 medium-6 small-6">
                    <a href="/accept/{{ invite.household.id }}">Accept</a>
                </div>
                <div class="cell large-6 medium-6 small-6" style="text-align: right;">
                    <a style="color: #ff3333;" href="/decline/{{ invite.id }}">Decline</a>
                </div>

            </div>
        </div>
    </div>
    <div class="cell large-2 medium-2"></div>
{% endfor %}
</div>
{% endif %}

{% endblock %}