
/* div {
  border: 1px dashed;
} */
[v-cloak] {
            display: none;
        }

body {
  background-color: #e0cecb;
}

.light-opacity {
  opacity: 0.5;
}

.header {
  padding-bottom: 5vh;
}

.content {
  background-color: #f5f5f5;
  margin-top: 0.5rem;
  margin-right: 10vw;
  margin-left: 10vw;
  min-height: 87.5vh;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.64);
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.64);
}

.household_card {
  margin-bottom: 10vh;
}

.invite_card {
  margin-bottom: 5vh;
}
.card {
  -webkit-box-shadow: 0px 0px 51px -11px rgba(0,0,0,0.65);
  -moz-box-shadow: 0px 0px 51px -11px rgba(0,0,0,0.65);
  box-shadow: 0px 0px 51px -11px rgba(0,0,0,0.65);
}

.column-list {
  height: 15vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
}
.column-list>* {
  flex: none;
  padding: 2px;
}

.padding-5 {
  padding-left: 5%;
  padding-right: 5%;
}

.invite_button {
  background-color: #0b97a3;
}

a.invite_button:hover {
  background-color: #076b73;
}

.chat_button {
  background-color: #0ba36f;
}

a.chat_button:hover {
  background-color: #07734f;
}

.household_button {
  background-color: #575b7a;
  margin-right: 1vw;
}

a.household_button:hover {
  background-color: #454861;
}

.list_button {
  background-color: #0b58a3;
}

input.list_button:hover {
  background-color: #083e73;
}

a.list_button:hover {
  background-color: #083e73;
}

.button_text {
  font-size: 1vw;
  margin-top: 1vh;
  margin-right: 1vw;
}

.topbar-responsive {
  background: #575b7a;
  padding: 1rem 1.5rem;
  -webkit-box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.64);
  box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.64);
  min-height: 10vh;
  max-height: 20vh;
}

.top-bar {
  min-height: 10vh;
  max-height: 20vh;
}

.topbar-responsive .topbar-responsive-logo {
  color: #fefefe;
  vertical-align: middle;
}

.topbar-responsive .menu {
  background: #575b7a;
}

.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .menu a {
  color: #fefefe;
  transition: color 0.15s ease-in;
}

.topbar-responsive .menu a:hover {
  color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}

.topbar-responsive .menu .topbar-responsive-button {
  color: #fefefe;
  border-color: #fefefe;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: #c6d1d8;
  border-color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
            animation: fadeIn 1s ease-in;
  }
}

